# Sanal ortam
.venv/
venv/

# IDE ayarları
.idea/

# Python cache
__pycache__/
*.py[cod]

# SQLite veritabanı
db.sqlite3

# Django migrations (isteğe bağlı)
# **/migrations/

# Diğer geçici dosyalar
*.log
*.pot
*.py~

# Local environment variables
.env

# Django collectstatic output
staticfiles/
# Env yedekleri
.env.save

# CSV script çıktıları
scripts/*.csv
