# Core Django
Django==5.2.4
asgiref==3.9.1
sqlparse==0.5.3
typing_extensions==4.14.1

# Database
dj-database-url==2.1.0
psycopg2==2.9.10

# Cache & Rate Limiting
redis==5.2.1
django-ratelimit==4.1.0

# Security
django-csp==4.0

# Static Files
whitenoise==6.8.2

# Server
gunicorn==23.0.0

# Environment
python-dotenv==1.0.0
packaging==25.0
